@import "../../assets/style/style.utils";

.container-fluid {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 5;
}

.Header {
  width: 100% !important;
  height: 10vh;
}
.LogoContainer {
  .logo {
    height: 4rem;
    @include mobile {
      height: 3.5rem;
    }
  }
}

.Options {
  float: right;

  .Option {
    font-weight: 600;
    font-family: "Libre Franklin", sans-serif;
    margin: 0.8rem 1rem;
    display: inline-block;
    cursor: pointer;
    color: $text-color;
    &:hover {
      text-decoration: none;
      color: $warm;
      @include easeOut;
    }
    @include mobile {
      display: none;
    }
    @include tablet {
      font-size: 500;
      margin: 0.8rem 0.7rem;
    }
    &.MenuToggle {
      display: none;
      @include mobile {
        display: inline-block;
      }
    }

    &.Cart {
      @include mobile {
        display: inline-block !important;
        margin-right: 2rem;
        margin-top: 1rem;
      }
    }
  }
}

.ActiveLink {
  color: $warm;
  border-bottom: red solid 1px;
  @include mobile {
    border: none;
    color: red;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(173, 12, 12, 0.5);
  }
}

.SideBar {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  width: 40%;
  right: 0;
  bottom: -20vh;
  background-color: $background-color;
  text-align: center;
  height: 20vh;
  box-shadow: px px 5px rgba(0, 0, 0, 0.5);
  border: solid $text-color 1px;
  .SideBarOptions {
    color: $text-color;
    margin-top: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    height: 30%;
    line-height: 2rem;
    &:hover {
      text-decoration: none;
      color: $warm;
      @include easeOut;
    }
  }
}

.Show {
  @include mobile {
    display: flex;
    animation-name: glide;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
  }
  @keyframes glide {
    0% {
      bottom: 0;
      height: 0;
      width: 0;
    }
    100% {
      bottom: -20vh;
      height: 20vh;
      width: 40%;
    }
  }
}
