.Header{
    width: 90% !important;
    margin : 0 auto 1rem;
    height: 10vh;
    padding-top: 1rem;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.LogoContainer{
    padding-left: 1rem
}

.Options{
    float: right;

    .Option{
        margin: 1rem 1rem
    }
}

.ActiveLink{
    color: red;
    border-bottom: red solid 1px;
}