@import "../../assets/style/style.utils";

.CollectionPreview {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1rem;
  box-shadow: -5px -5px 10px rgba($text-color, 0.5);
  background: $background-color;
}

.CollectionTitle {
  font-size: 2rem;
  color: $warm;
  width: 10%;
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-bottom: solid 2px rgba($text-color, 0.363);
  @include mobile {
    font-size: 1.5rem;
  }
  &:hover {
    text-decoration: none;
    color: $text-color;
  }
}

.Preview {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;

  @include mobile {
    justify-content: space-around;
  }
  @include tablet {
    justify-content: space-around;
  }
}
