@import "../../assets/style/style.utils";

.Carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80vh;
  margin: 0 auto 1rem;
  background-color: $background-color; /* fallback for old browsers */
  @include desktop {
    height: 60vh;
  }
  @include mobile {
    height: 60vh;
  }

  .Content {
    width: 40%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    .Title {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      color: $warm;
      margin: 0;
    }
    p {
      font-family: "Libre Franklin", sans-serif;
      color: $text-color;
      font-weight: 500;
    }

    @include tablet {
      width: 80%;
      text-align: center;
    }
    @include mobile {
      width: 80%;
      text-align: center;
    }
  }

  .Image {
    position: absolute;

    &.Image1 {
      width: 22%;
      height: auto;
      bottom: 0;
      left: 5rem;
    }

    &.Image2 {
      width: 22%;
      height: auto;
      bottom: 0;
      right: 5rem;
    }

    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }

  .warm {
    background-color: #fff;
    border: solid 1px $warm;
    @include easeOut;
    &:hover {
      background-color: $warm;
      border: solid 1px #fff;
    }
  }
}
