@import "../../assets/style/style.utils";

.CartDropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid $text-color;
  background-color: white;
  top: 10vh;
  right: 0;
  z-index: 5;
  align-items: center;
  @include mobile {
    right: 0;
  }

  .CartItems {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    color: $text-color;
  }
}
.EmptyMessage {
  font-size: 1rem;
  margin: 3rem auto;
  color: $text-color;
}
