$mobile: 500px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.CartDropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 10vh;
  right: 40px;
  z-index: 5;
  align-items: center;
  @include mobile {
    right: 0;
  }

  .CartItems {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}
