@import "../../assets/style/style.utils";
.collection-page {
  margin-top: 1rem;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  @include borderShadow;

  .title {
    font-size: 2rem;
    margin: 1rem auto;
    color: $warm;
    @include borderBottom;
  }

  .items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    & .collection-item {
      margin-bottom: 2rem;
    }
  }
}
